/* --------------------------------
 * company
 * -------------------------------- */
.company-policy {
    padding: 5vh 0;
    margin: 5vh 0;
    background:url("../images/common/company-back.jpg");
    background-size: cover;
    .sub-title {
        padding: 0 3vw;
        font-family: serif;
        font-size: 4vw;
        color: $text;
    }
    .small-title {
        padding: 2vh 3vw;
        font-family: serif;
        font-size: 3vw;
        color: $text;
    }
    .container {
        display: flex;
        padding: 2vh 3vw;
        font-family: sans-serif;
        font-size: 1.7vw;
        color: $text;
        span {
            padding-right: 1vw;
        }
    }
}
.mp {
    padding: 5vh 0;
    margin: 5vh 0;
    background:url("../images/common/company-back.jpg");
    background-size: cover;
    .sub-title {
        padding: 0 3vw;
        font-family: serif;
        font-size: 3vw;
        color: $text;
    }
    .small-title {
        padding: 2vh 3vw;
        font-family: serif;
        font-size: 2.5vw;
        color: $text;
    }
    .container {
        display: flex;
        padding: 2vh 3vw;
        font-family: sans-serif;
        font-size: 1.7vw;
        color: $text;
        span {
            padding: 0 1vw;
        }
    }
}
.cfc {
    padding: 5vh 0;
    margin: 5vh 0;
    background:url("../images/common/company-back.jpg");
    background-size: cover;
    .small-title {
        padding: 2vh 3vw;
        font-family: serif;
        font-size: 2.5vw;
        color: $text;
    }
    .container {
        display: flex;
        padding: 2vh 3vw;
        font-family: sans-serif;
        font-size: 1.7vw;
        color: $text;
        span {
            padding: 0 1vw;
        }
    }
}
.greeting-sp {
    display: none;
}
.greeting {
    padding: 5vh 0;
    margin: 5vh 0;
    background:url("../images/common/logo_back.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    .container {
        display: flex;
        flex-direction: column;
        padding: 2vh 3vw;
        font-family: sans-serif;
        color: $text;
        .greet {
            padding: 2vh 0;
            font-size: 1.3vw;
        }
        .text {
            padding: 1vh 0;
            font-size: 1.3vw;
        }
        .name {
            padding: 2vh 0;
            text-align: end;
            font-size: 1.3vw;
        }
    }
}
.company-profile {
    padding: 5vh 0;
    margin: 5vh 0;
    background-color: $white-back;
    .container {
        display: flex;
        margin: 0 3vw;
        padding: 2vh 3vw;
        border-bottom: #808080 dotted 2px;
        font-family: sans-serif;
        color: $text;
        font-size: 1.5vw;
        .left {
            width: 40%;
        }
        .right {
            width: 60%;
            padding: 0;
        }
    }
}
.map {
    margin: 10vh 0 3vh;
    display: flex;
    justify-content: center;
}
/* --------------------------------
 * company smart phone
 * -------------------------------- */
 @media screen and (max-width: 769px) {
    .company-policy {
        padding: 5vh 0;
        margin: 5vh 0;
        background:url("../images/common/company-back.jpg");
        background-size: cover;
        .sub-title {
            padding: 0 4vw;
            font-family: serif;
            font-size: 5vw;
            color: $text;
        }
        .small-title {
            padding: 2vh 4vw;
            font-family: serif;
            font-size: 3.5vw;
            color: $text;
        }
        .container {
            display: flex;
            padding: 1vh 4vw;
            font-family: sans-serif;
            font-size: $sp-text-2;
            color: $text;
            span {
                padding-right: 1vw;
            }
        }
    }
    .mp {
        padding: 5vh 0;
        margin: 5vh 0;
        background:url("../images/common/company-back.jpg");
        background-size: cover;
        .sub-title {
            padding: 0 4vw;
            font-family: serif;
            font-size: 4vw;
            color: $text;
        }
        .small-title {
            padding: 2vh 4vw;
            font-family: serif;
            font-size: 3vw;
            color: $text;
        }
        .container {
            display: flex;
            padding: 1vh 4vw;
            font-family: sans-serif;
            font-size: $sp-text-2;
            color: $text;
            span {
                padding: 0 1vw;
            }
        }
    }
    .cfc {
        padding: 5vh 0;
        margin: 5vh 0;
        background:url("../images/common/company-back.jpg");
        background-size: cover;
        .small-title {
            padding: 2vh 4vw;
            font-family: serif;
            font-size: 3.5vw;
            color: $text;
        }
        .container {
            display: flex;
            padding: 1vh 4vw;
            font-family: sans-serif;
            font-size: $sp-text-2;
            color: $text;
            span {
                padding: 0 1vw;
            }
        }
    }
    .greeting {
        display: none;
    }
    .greeting-sp {
        display: block;
        padding: 5vh 0;
        margin: 5vh 0;
        background:url("../images/common/logo_back.jpg");
        background-size: contain;
        .container {
            display: flex;
            flex-direction: column;
            padding: 2vh 4vw;
            font-family: sans-serif;
            color: $text;
            .greet {
                padding: 2vh 0;
                font-size: 3vw;
            }
            .text {
                padding: 1vh 0;
                font-size: 3vw;
            }
            .name {
                padding: 2vh 0;
                text-align: end;
                font-size: 3vw;
            }
        }
    }
    .company-profile {
        padding: 5vh 0;
        margin: 5vh 0;
        background-color: $white-back;
        .container {
            display: flex;
            margin: 0 3vw;
            padding: 2vh 3vw;
            border-bottom: #808080 dotted 2px;
            font-family: sans-serif;
            color: $text;
            font-size: $sp-text-2;
            .left {
                width: 40%;
            }
            .right {
                width: 60%;
                padding: 0;
            }
        }
    }
}